<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %n [%thread] %level %logger{35} - %n %msg</pattern>
    </encoder>
  </appender>
  <logger name="org.icgc.dcc.etl.exporter" level="INFO" />
  <logger name="org.apache.pig" level="INFO" />
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration> 
